/* Global Dark Theme */
body {
  background-color: #121212;
  color: #e0e0e0;
}

.navbar.bg-dark {
  background-color: #000 !important;
}

.hero {
  background: linear-gradient(135deg, #1f1f1f, #2a2a2a);
  color: #ffffff;
  border-radius: 10px;
}

.card {
  background-color: #1f1f1f;
  color: #e0e0e0;
  border: 1px solid #333;
}

.bg-light {
  background-color: #1a1a1a !important;
}

.card-title {
  color: #0854c5;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-outline-primary {
  color: #B6B09F;
  border-color: #0d6efd;
}

.btn-outline-primary:hover {
  background-color: #fcb900;
  color: #fff;
}

.foreach {
  color: white !important;
}

.card {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

.list-group-item {
  background-color: #1a1a1a;
  border: 1px solid #333;
}

form input {
  border-radius: 6px;
}
